# Dependências
node_modules
npm-debug.log
package-lock.json

# Build
dist
build
.vite

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Env
.env
.env.local
.env.development
.env.production

# OS
.DS_Store
Thumbs.db

# Outros
README.md
.prettierrc
.eslintrc
