version: "3.8"

services:
  anna-site:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - externa
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        traefik.enable: "true"
        traefik.http.routers.anna.rule: "Host(`anna.123atendi.com.br`)"
        traefik.http.routers.anna.entrypoints: "websecure"
        traefik.http.routers.anna.priority: "1"
        traefik.http.routers.anna.tls.certresolver: "le"
        traefik.http.routers.anna.service: "anna"
        traefik.http.services.anna.loadbalancer.server.port: "80"
        traefik.http.services.anna.loadbalancer.passHostHeader: "true"

networks:
  externa:
    external: true
